.custom-login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
   /* background: var(--bs-white);*/
    background: #F4F7F6;
}

.custom-login .custom-login-inner {
    width: 75vw;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.custom-login .dash-header{
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: none;
    min-height: auto;
}
.custom-login  .dash-header .dash-h-item {
    min-height: auto;
}
.custom-login .dash-header .navbar-brand{
    max-width: 160px;
    width: 100%;
}
.custom-login .dash-header .logo{
    width: 100%;
}

.custom-login .bg-login {
    content: "";
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
    border-radius: 0px;
    position: absolute;
    transform-origin: bottom;
    background: var(--bs-green);
}

.custom-login .navbar {
    background: var(--bs-white);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 6px 30px rgba(182, 186, 203, 0.3);
    padding: 10px 0;
}
.custom-login .navbar .navbar-collapse{
    justify-content: flex-end;
}
.custom-login .navbar .nav-link {
    padding: 1px 20px;
    position: relative;
    font-weight: 500;
    color: var(--bs-dark);
}

.custom-login .navbar .nav-item .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 2px;
    background: #000000;
    top: 0;
    right: 0;
}

.custom-login .navbar .nav-item:last-of-type .nav-link::after {
    display: none;
}

.custom-login .card {
    box-shadow: none;
    width: max-content;
    /* margin-left: auto; */
}

.custom-login .custom-wrapper {
    padding: 100px 0 40px;
    /* max-width: 66vw; */
    width: 100%;
}
.custom-login .custom-wrapper .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    width: 660px;
    margin-left: auto;
    /*box-shadow: 0px 0px 25px 0px #0000000d;*/
    box-shadow: 0 6px 30px rgba(73, 54, 93, 1.3);
    border-radius: 10px;
}

.custom-login .custom-wrapper .card .card-body h2 span,
.custom-login a {
    color: var(--bs-green);
}

.custom-login .form-control:focus {
    border-color: var(--bs-green);
    box-shadow: 0 0 0 0.2rem rgba(12, 175, 96, 0.25);

}

.custom-login .form-check-input:checked {
    background-color: var(--bs-green);
    border-color: var(--bs-green);
}

.custom-login .autorized-btn {
    gap: 15px;
    justify-content: space-between;
}

.custom-login .autorized-btn .btn {
    max-width: 47%;
    width: 100%;
}

.custom-login .drp-language .drp-text {
    margin-left: 5px;
}

.custom-login .drp-language a {
    color: #000000;
}

.custom-login .drp-language .btn {
    background: #F5F5F5;
}

.custom-login .drp-language .btn.show {
    border-color: #F5F5F5;
}
.custom-login .card .custom-img img{
    max-width:90%;
    margin-left:auto;
    display:block;
}
@media only screen and (max-width: 1300px){
    .custom-login .card .custom-img img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1199px) {
    .custom-login .custom-login-inner {
        width: 85vw;
    }

    .custom-login .custom-img,
    .custom-login .bg-login {
        display: none;
    }

    .custom-login .custom-wrapper .card .card-body {
        margin: auto;
    }

    .custom-login .custom-wrapper {
        padding: 40px 0 40px;
        margin: auto;
        max-width: 100%;
    }
    .custom-login .card {
        margin: auto;
        width: auto;
    }
}

@media only screen and (max-width: 991px) {
    .custom-login .custom-login-inner {
        width: 95vw;
    }

    .custom-login .custom-wrapper {
        padding: 20px 0;
    }

    .custom-login .custom-wrapper .card .card-body {
        padding: 40px 15px;
    }
    .custom-login .navbar .nav-link {
        padding: 0px 15px;
    }


}

@media only screen and (max-width: 767px) {
    .custom-login .dash-header .navbar-brand {
        max-width: 120px;
    }
    .custom-login .custom-login-inner {
        width: 98vw;
    }

    .custom-login .navbar .nav-item .nav-link::after {
        display: none;
    }

    .custom-login .navbar .nav-link {
        padding: 10px 20px;
    }

    .custom-login .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;

    }

    .custom-login .custom-wrapper .card .card-body {
        padding: 20px 15px;
    }
}

@media only screen and (max-width: 575px) {
    .custom-login .autorized-btn .btn {
        max-width: 100%;
    }
}



